* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}

.hero {
    display: flex;
    width: 100%;
    height: 1100px;
}

.left-col {
    flex-basis: 30%;
    height: 100%;
    background: var(--secondary-color);
    position: relative;

}

.right-col {
    flex-basis: 70%;
    height: 100%;
    position: relative;
    background-color: var(--primary-color);
}

.logo {
    width: 25%;
}

.logoimg {
    width: 150%;
}

.navbar {
    position: relative;
    right: 145px;
    top: 85px;
    display: flex;
    z-index: 200;
    color: var(--secondary-color);
}

.navbar li {
    list-style: none;
    margin: 0 50px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: var(--secondary-color);
    padding-left: 100px;
    text-decoration: none;
    transform: translateX(50%);
}

.white-bar {
    position: absolute;
    height: 20px;
    width: 400px;
    background: var(--primary-color);
    top: 180px;
    right: 0;
}

.red-bar {
    position: absolute;
    height: 20px;
    width: 400px;
    background: var(--secondary-color);
    top: 180px;
    left: 0;
}

.quote-text {
    width: 400px;
    top: 200px;
    right: 20px;
    position: absolute;
    color: var(--primary-color);
}

.quote-text p {
    margin-top: 10px;
    color: var(--primary-color);
    font-size: 22px
}

.open-quote-icon {
    width: 50px;
}

.close-quote-icon {
    width: 100px;
    margin-left: 30px;
}

#icon {
    width: 30px;
    cursor: pointer;
    margin-left: 30px;
    transform: translateX(550%);
}

.feature-img {
    width: 800px;
    position: absolute;
    bottom: 0;
    right: 10%;
    padding-left: 250px;
    height: 600px;
    padding-bottom: 100px;
}
 
.hero2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.underlineh1 {
    font-size: 30px;
    position: relative;
    margin-bottom: 80px;
    color: var(--secondary-color);
}

.underlineh1::after {
    content: '';
    width: 150px;
    height: 3px;
    background: linear-gradient(to right, #f44336, #9f4db5);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.review-box {
    width: 90%;
    max-width: 700px;
    height: 300px;
    border-radius: 10px;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
    position: relative;
    overflow: hidden;
    border: solid var(--secondary-color);
}

.card{
    height: 300px;
    padding: 40px;
    color: var(--secondary-color);
    line-height:22px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    z-index: 1;
    background-color: var(--primary-color);
    
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profile h3 {
    font-size: 26px;
    color: var(--secondary-color);
    margin-bottom: 8px;
}

#slide {
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.sidebar {
    width: 60px;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    background: var(--secondary-color);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar img{
    width: 25px;
    padding: 5px;
    background-color: var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
}

.gallery {
    height: 80%;
    width: 100%;
    display: flex;
    margin: 5% auto 0;
    box-sizing: border-box;
    padding-top: 150px;
    
}

.image-box {
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.image-box:hover {
    flex-basis: 50%;
}

.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: 90%;
    max-width: 1000px;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.information {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -15%;
    transform: translateY(-50%);
    pointer-events: none;
}

#circle {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 40px;
    left: 0;
    border-radius: 50%;
    margin-left: 300px;
    margin-top: 110px;
    transform: rotate(0deg);
    transition: 1s;
    pointer-events: none;
}

.one {
    top: 450px;
    right: 30px;
    font-size: 85%;
    color: var(--secondary-color);
    pointer-events: none;
}

.two {
    top: 150px;
    left: 210px;
    font-size: 85%;
    transform: rotate(-90deg);
    color: var(--secondary-color);
    pointer-events: none;
}

.three {
    bottom: 450px;
    left: 10px;
    font-size: 85%;
    transform: rotate(-180deg);
    right: 60%;
    color: var(--secondary-color);
    pointer-events: none;
}

.four {
    bottom: 150px;
    right: 350px;
    font-size: 85%;
    left: 20%;
    transform: rotate(-270deg);
    color: var(--secondary-color);
    pointer-events: none;
}

.feature {
    position: absolute;
    display: flex;
    color: var(--secondary-color);
    pointer-events: none;
    
}

.controls {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.controls h3 {
    margin: 15px 0; 
    color: var(--secondary-color);
}

#upBtn {
    width: 15px;
    cursor: pointer;
}

#downBtn {
    width: 15px;
    cursor: pointer;
}

.overlay {
    width: 0;
    height: 0;
    border-top: 500px solid var(--secondary-color);
    border-right: 500px solid transparent;
    border-bottom: 500px solid var(--secondary-color);
    border-left: 500px solid var(--secondary-color);
    position: absolute;
    left: 201px;
    top: 125px; 
    pointer-events: none;
}

a {
    text-decoration: none;
}



.animation {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.animation2 {
    opacity: 0;
    transform: translateX(30px);
    animation: moveleft 0.5s linear forwards;
}

@keyframes moveleft{
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.navbar ul li a:hover {
  color: #ff4444;
}